<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to Jetsave: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./assets/css/profile.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/blog.css">

    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/mobile.css"> -->

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="/assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<style>
    .socialicons a {
        width: 36px;
    }
</style>

<body>

    <!-- loading Component -->
	<%- include('partials/loading') %>


    <!-- Header Component -->
	<%- include('partials/header') %>

    <div class="container full-width">

        <!-- top profile view secion + media -->

        <!-- success message for successful login -->
        <% if (messages.success) { %>
        <center>
            <div class="alert alert-success" role="alert" style="position: relative;"><%- messages.success %></div>
        </center>
        <% } %>

        <!-- member profile area -->
        <div id="memberprof" class="container-fluid full-width">
            <div class="row full-width">
                <div class="col-3 text-center">
                    <div id="userimg" class="row">
                        <img src="/images/<%= result[1][0].image %>" class="pro" width="100%" height="100%"
                            style="border-radius:102px; ">
                        
                    </div>
                    <div id="socialicons" class="row socialicons">
                        <a href="<%= result[1][0].facebook %>"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" viewBox="0 0 400 400" id="facebook" class="socic">
                                <path d="M222.399,0.8c22.134,0,44.267,0,66.4,0c3.387,1.389,4.592,3.951,4.575,7.546
						c-0.084,17.865-0.02,35.731-0.049,53.596c-0.01,5.914-1.701,7.539-7.647,7.559c-12.132,0.041-24.266-0.058-36.395,0.154
						c-6.827,0.119-13.228,1.953-16.148,8.876c-1.453,3.445-1.93,7.459-2.106,11.251c-0.33,7.051,0.08,14.134-0.182,21.191
						c-0.282,7.616,1.671,9.84,9.316,9.83c15.728-0.022,31.455-0.027,47.183,0.004c6.146,0.013,6.794,0.621,6.274,6.644
						c-1.821,21.098-3.832,42.18-5.584,63.284c-0.733,8.843-2.471,10.433-11.39,10.285c-13.461-0.223-26.928-0.27-40.39-0.157
						c-7.673,0.064-8.355,0.983-8.355,8.665c-0.001,59.463,0.002,118.925-0.009,178.389c-0.001,2.264-0.105,4.529-0.201,6.793
						c-0.154,3.633-1.99,5.66-5.696,5.829c-1.597,0.073-3.195,0.156-4.794,0.156c-19.998,0.012-39.997,0.008-59.996,0.008
						c-8.164-0.001-9.743-1.586-9.743-9.837c-0.003-53.862-0.013-107.726,0.013-161.589c0.003-6.793,0.351-13.589,0.265-20.379
						c-0.077-6.154-2.22-8.082-8.31-8.091c-7.994-0.014-15.987,0.005-23.981-0.007c-6.174-0.009-7.619-1.327-7.632-7.461
						c-0.049-21.727-0.047-43.454-0.002-65.181c0.013-6.258,1.662-7.563,7.999-7.485c8.26,0.102,16.524,0.042,24.784-0.119
						c5.244-0.103,6.404-1.401,6.591-6.826c0.119-3.462,0.106-6.93,0.104-10.396c-0.013-13.716-0.646-27.479,2.399-41.002
						c6.908-30.678,24.872-50.956,55.848-58.687C211.053,2.266,216.774,1.726,222.399,0.8z" />
                            </svg></a>
                        <a href="<%= result[1][0].instagram %>"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" viewBox="0 0 400 400" id="instagram" class="socic">
                                <g>
                                    <path d="M0.798,280.639c0-53.228,0-106.454,0-159.681c0.278-1.012,0.665-2.009,0.817-3.04
								c1.111-7.488,1.937-15.027,3.297-22.469c4.182-22.864,13.324-43.383,29.769-60.155C55.116,14.45,80.589,5.93,109.231,5.452
								c25.252-0.421,50.505-0.837,75.757-1.289c1.148-0.021,2.291-0.373,3.436-0.571c9.315,0,18.629,0,27.944,0
								c1.012,0.198,2.021,0.552,3.036,0.569c17.95,0.299,35.905,0.41,53.851,0.875c11.818,0.307,23.714,0.378,35.419,1.822
								c48.782,6.017,86.038,43.857,89.473,96.489c1.453,22.271,1.594,44.649,1.669,66.981c0.109,32.585-0.244,65.176-0.673,97.76
								c-0.204,15.529,0.145,31.135-3.22,46.459c-10.321,47.018-47.893,78.265-94.164,80.816c-32.244,1.778-64.591,2.1-96.895,2.246
								c-29.781,0.136-59.568-0.77-89.35-1.34c-14.919-0.285-29.714-1.474-43.944-6.615C30.822,374.933,7.042,338.15,3.214,296.248
								C2.736,291.015,1.62,285.84,0.798,280.639z M201.25,39.726c0-0.101,0-0.202,0-0.303c-11.575,0-23.152-0.178-34.723,0.039
								c-21.261,0.398-42.57,0.293-63.761,1.786c-18.485,1.302-34.657,8.949-46.989,23.336c-12.373,14.436-16.759,31.748-17.209,50.26
								c-0.524,21.533-1.141,43.075-1.025,64.61c0.207,38.027,0.257,76.077,1.644,114.07c1.342,36.783,27.52,63.655,64.219,66.859
								c16.654,1.455,33.459,1.578,50.196,1.585c19.947,0.008,39.859,0.154,59.812,0.863c28.414,1.01,56.917,0.958,85.266-2.283
								c37.644-4.305,63.63-32.292,64.616-70.043c0.75-28.709,1.099-57.431,1.313-86.149c0.141-18.88-0.118-37.77-0.49-56.649
								c-0.293-14.877-0.332-29.811-1.715-44.604c-2.798-29.92-22.735-52.296-51.701-59.92c-14.519-3.821-29.314-3.025-44.009-3.337
								C244.888,39.383,223.064,39.726,201.25,39.726z" />
                                    <path d="M98.205,200.746c-0.048-55.187,45.754-100.71,100.719-101.392
								c54.894-0.68,104.637,41.36,104.842,101.251c0.197,57.764-46.999,101.379-102.495,101.473
								C144.178,302.176,98.254,256.948,98.205,200.746z M267.563,201.056c0.012-36.776-29.608-66.456-66.385-66.521
								c-36.753-0.064-66.828,29.701-66.841,66.152c-0.013,36.443,29.728,66.14,66.272,66.174
								C237.753,266.896,267.551,237.609,267.563,201.056z" />
                                    <path d="M331.339,95.497c-0.078,12.89-10.459,23.198-23.397,23.231
								c-13.275,0.034-23.692-10.493-23.611-23.86c0.078-13.101,10.562-23.475,23.656-23.411
								C321.283,71.521,331.421,81.957,331.339,95.497z" />
                                </g>
                            </svg></a>
                        <a href="<%= result[1][0].twitter %>"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" viewBox="0 0 400 400" class="socic">
                                <path
                                    d="M0.8,332.8c0-0.8,0-1.6,0-2.399c1.667-0.25,3.346-0.785,4.997-0.709
						c38.809,1.806,74.4-7.696,106.281-30.198c1.235-0.872,1.952-2.479,2.911-3.742c-1.447-0.742-2.832-1.95-4.352-2.156
						c-22.276-3.026-40.763-13.015-54.654-30.652c-4.882-6.199-8.454-13.493-12.164-20.53c-2.005-3.804-0.938-4.998,3.356-4.996
						c2.263,0,4.531,0.321,6.787,0.231c5.045-0.2,10.097-0.442,15.118-0.954c1.243-0.126,2.375-1.347,3.559-2.063
						c-1.03-0.838-1.943-1.933-3.113-2.46c-2.904-1.309-6.034-2.139-8.883-3.547c-28.369-14.019-44.649-36.605-47.796-68.25
						c-0.667-6.709,0.939-7.361,7.319-5.174c6.63,2.274,13.482,3.923,20.292,5.623c0.995,0.248,2.297-0.738,3.457-1.152
						c-0.447-1.014-0.628-2.33-1.382-2.996C19.5,136.322,9.831,110.77,13.868,80.462c1.12-8.412,4.59-16.573,7.514-24.656
						c1.44-3.981,3.452-3.987,6.614-0.922c1.051,1.019,1.984,2.16,3.029,3.186c7.887,7.738,15.393,15.922,23.754,23.11
						c38.484,33.084,83.482,50.917,133.72,56.134c5.236,0.543,6.876-0.984,6.678-6.198c-0.04-1.061-0.243-2.116-0.337-3.176
						c-2.37-26.664,5.274-50.051,24.574-68.647c32.459-31.276,78.294-32.638,113.188-3.97c5.461,4.486,11.146,6.083,17.753,3.467
						c11.855-4.692,23.659-9.519,35.524-14.187c1.196-0.471,2.67-0.236,4.016-0.329c0.073,1.127,0.568,2.446,0.157,3.353
						c-5.97,13.142-13.733,24.935-25.573,33.656c-1.059,0.779-1.52,2.367-2.259,3.58c1.417,0.292,2.987,1.135,4.228,0.791
						c10.24-2.846,20.41-5.945,30.631-8.864c1.146-0.327,2.477-0.007,3.722,0.012c0,0.8,0,1.6,0,2.4
						c-10.188,13.043-21.555,24.902-34.267,35.565c-2.457,2.06-3.685,6.463-4.074,9.943c-1.185,10.572-1.306,21.264-2.514,31.833
						c-4.445,38.896-17.098,74.915-39.452,107.166c-24.184,34.891-54.655,62.835-93.319,81.093
						c-32.332,15.268-66.646,21.558-102.259,21.623c-33.058,0.06-64.855-6.093-95.148-19.365C19.919,342.743,10.445,337.576,0.8,332.8z" />
                            </svg></a>
                        <a href="<%= result[1][0].youtube %>"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                height="20" viewBox="0 0 400 400" class="socic">
                                <path d="M0.8,247.2c0-27.467,0-54.934,0-82.4c0.199-1.547,0.514-3.089,0.578-4.642
						c0.633-15.43,0.712-30.902,1.943-46.283C5.461,87.123,25.04,67.778,51.936,65.788c26.953-1.994,53.946-3.469,80.936-4.926
						c33.222-1.794,66.399-4.21,99.755-2.007c32.009,2.114,64.105,2.887,96.147,4.558c9.541,0.498,19.192,1.265,28.508,3.251
						c23.278,4.965,37.728,20.163,41.208,43.624c1.514,10.211,1.047,20.714,1.521,31.083c0.211,4.612,0.522,9.22,0.788,13.83
						c0,29.6,0,59.2,0,88.8c-0.195,0.747-0.543,1.49-0.564,2.241c-0.401,14.108-0.742,28.22-1.14,42.328
						c-0.274,9.698-2.004,19.095-6.842,27.621c-10.717,18.886-28.268,25.938-48.729,26.795c-19.286,0.807-38.612,0.818-57.922,0.883
						c-43.171,0.143-86.342,0.244-129.512,0.087c-32.63-0.117-65.267-0.359-97.888-1.107c-27.941-0.641-47.95-16.303-53.668-42.497
						c-2.303-10.547-2.059-21.663-2.805-32.532C1.259,260.956,1.099,254.073,0.8,247.2z M164.041,259.854
						c33.291-18.912,65.883-37.427,99.133-56.316c-33.302-18.835-65.994-37.325-99.133-56.068
						C164.041,185.179,164.041,222.068,164.041,259.854z" />
                            </svg></a>
                    </div>
                </div>

                <!-- member detail area with dynamic data -->
                <div class="col-8 memberlin">
                    <div class="row">
                        <h2 id="membername"><%= result[1][0].name %></h2>
                    </div>
                    <div class="row jetsavered">
                        <p id="username"><%= result[1][0].username %></p>
                    </div>
                    <div class="row nopad memberbio">
                        <div class="col-sm-3 aboutmember nopad">
                            <h4 class="nopad">No. of Trips: 1</h4>
                        </div>
                        <div class="col-sm-3 aboutmember">
                            <h4 class="nopad">Total Travelogue:<%= result[2][0].totalblog %></h4>
                        </div>
                        <div class="col-sm-3 aboutmember">
                            <h4 class="nopad">Q Answered: 1</h4>
                        </div>
                    </div>
                    <div class="row memberbio">
                        <p class="jetsavered biotext">Bio...</p>
                        <p><%= result[1][0].bio %></p>
                    </div>
                    <a href="/add-blog"><div class="btn btn-danger button">Add New Blog</div></a>


                </div>
                <!-- edit profile area -->
                <div class="col-1 editsvg">
                    <a href="/editform"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
                            <g>
                                <path d="M55.67,379.051c2.429-30.725,4.321-61.511,7.617-92.149
								c1.123-10.474,3.723-21.851,9.155-30.64c47.509-76.848,95.762-153.244,143.93-229.689c13.989-22.216,33.166-32.214,57.471-23.364
								c19.896,7.257,39.659,18.981,55.064,33.434c19.824,18.591,19.519,41.76,4.895,65.075
								c-48.339,77.049-96.824,154.007-145.346,230.947c-2.576,4.077-5.14,9.069-9.033,11.267c-32.397,18.298-64.843,36.56-97.851,53.722
								c-14.465,7.52-20.336-4.54-25.902-14.94C55.67,381.492,55.67,380.271,55.67,379.051z M92.986,353.855
								c16.662-9.094,32.226-16.125,46.104-25.634c11.108-7.605,22.461-16.699,29.699-27.759c32.739-49.975,64.074-100.877,95.836-151.486
								c3.394-5.396,6.299-11.096,9.851-17.413c-21.581-12.939-41.21-24.694-61.51-36.865c-32.323,51.367-61.229,102.495-95.372,149.833
								C93.267,278.246,94.609,314.317,92.986,353.855z M292.03,103.183c23.9-32.037,22.827-42.675-4.943-59.99
								c-27.075-16.882-36.621-12.97-55.114,23.62C251.613,78.708,271.353,90.665,292.03,103.183z" />
                            </g>
                        </svg></a>
                </div>
            </div>
        </div>
        <!-- filter section area -->
        <div id="blogfilter" class="container-fluid full-width">
            <div class="row full-width filterline">
                <div class="col-sm-6 col-md-3 filterlineinner">
                    <h3 class="borderright jetsave-josefinbold nomar">My Travelogue</h3>
                </div>
                <div class="col-sm-6 col-md-3 filterlineinner">
                    <!-- check bookmark -->
                    <h3 class="borderright jetsave-josefinbold nomar"><a href="/bookmark">Bookmarks</a></h3>
                </div>
                <div class="col-sm-6 col-md-3 filterlineinner">
                    <!-- data from myprofile.js -->
                    <select name="blogarea" id="blogarea" class="filterdrop jetsave-josefinbold blogarea">
                        <option value="Location">Select Location</option>
                    </select>
                </div>
                 <!-- data from myprofile.js -->
                <div class="col-sm-6 col-md-3 filterlineinner">
                    <select name="typename" id="typename" class="filterdrop jetsave-josefinbold">

                    </select>
                </div>
            </div>
        </div>




        <!-- blog section -->

        <% if(result[0].length) { %>

        <div id="blogbottom" class="container-fluid full-width filtercity">
            <div class="row proftrav full-width">


                <% for(i=0;i<result[0].length;i++){ %>
                <div class="col-sm-6 col-md-4 proftravinner proftravmar">
                    <span id="proftravlbo">
                        <a href="/my-blogs?id=<%= result[0][i].blogtext %>"><img class="proftravblogimg"
                                src="/images/<%= result[0][i].blogimage %>" alt=""></a>

                        
                    </span>
                    <span class="">
                        <h3 class="profbottomhead"><%= result[0][i].blogtext %></h3>
                    </span>
                </div>
                <% } %>
            </div>

        </div>

        <% } %>

        <% if(!result[0].length) { %>

        <h2 class="text-center" style="color:black; margin-top:5%; margin-bottom:5%">No Blog Yet
            <img src="https://cdn.dribbble.com/users/2046015/screenshots/6015680/08_404.gif" width="162px">
        </h2>
        <% } %>

    </div>

    <!-- data source from the class of result -->
    <div id="result"></div>

    <!-- Footer Component -->
	<%- include('partials/footer') %>

    <script src="./assets/js/myprofile.js"></script>


    <!-- section for code testing -->
  
</body>

</html>