<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/jetsavecss.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/seprateblog.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/mobile.css">

    <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="/assets/css/jetsave-tablet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"
        integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<style>
    .bannerimg {
        background-image: url("https://www.go-polar.com/images/destination&category/Nor4-WinterNorthernLights.jpg");
        position: absolute !important;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        width: 100% !important;
        height: 100%;
        margin-top: -2%;
    }
</style>

<body>

    <!-- Loader Component -->

	<%- include('../partials/loading') %>
    

    <!-- Header Component -->

	<%- include('../partials/header') %>

    <div class="container-fluid" style="height: 100vh;">
        <div class="row">
            <div class="col-12 bannerimg heading">
                <h2 class="blogheading"> 10 Things You Just Did Not Know
                    About the Magical Northern Lights! </h2>
            </div>

        </div>


    </div>
        <div class="container-blog blogarea">
        <div class="row">

           <!-- Leftbar Component -->
            <%- include('../partials/leftbar') %>

            <div class="col-sm-12 col-lg-6 middlebar">
                <p> <b>
                        Aurora Borealis, also known as the Northern Lights are one of nature’s most magnificent
                        showcases—a true example of Mother Nature at her best. Seeing the galactic wonder known as
                        northern lights, a.k.a. aurora borealis is a bucket-list thing for many individuals. These
                        sensational curtains of beautifully colored shaded light, which show up high in the night sky in
                        the northern half of the globe, are generally visible in the night and the dead of winter, and
                        in remote, dark territories. The dancing greens and pinks of the aurora are really brought about
                        by the collisions between the gas particles in the earth’s atmosphere and the charged particles
                        discharged by the sun. </b>
                    <a href="http://journeys.jetsavetours.in/Scintillating-Northern-Lights-Experience"
                        style="color:red;"> Book your
                        magical northern lights experience with jetsave now. </a>
                </p>
                <p style="text-align: center;"> <i>
                        The colors change depends upon the sort of gas atoms that impact—oxygen, for instance, causes
                        the
                        greens, while the pinks are brought about by nitrogen. People have seen and made anecdotes about
                        the
                        lights since ancient times and, all more recently, conducted scientific examinations on them.
                    </i>
                </p>
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/fVsONlc3OUY"></iframe>

                <p> You may have seen them or plan to take a quick trip and see them
                    sometime in the not so distant future, but either way, there are a few things you most likely
                    did not know about them. </p>

                <p style="text-align: center; color:rgb(11, 36, 255);"> <i>
                        There’s more to the northern lights than meets the eye. Here are 10 facts you ought to know
                        about
                        the aurora if you are planning to visit them in 2020.
                    </i> </p>

                <br> <br>
                <h4 style="text-align: center;"> <b>1|<br>
                        THE FIRST RECORD OF IT DATES BACK TO 30,000 B.C. </b> </h4>

                <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/cave-drawing.jpg?resize=630%2C420&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    The first mention of these famed Northern Lights was in a cave drawing found in France. They were
                    said to be created back in 30,000 B.C. and were not mentioned in any writings until 3,600 B.C. in
                    China. They have changed the course of history as they led to the creation of different mythologies
                    and served as the inspiration behind pieces of artwork. They still amaze us today as people travel
                    from all over the world to witness these formations light up the night sky in a beautiful array of
                    colors.
                </p>

                <br>
                <h4 style="text-align: center;"> <b> 2|<br>
                        THE NEXT BIG CYCLE WILL BE IN 2024</b> </h4>

                <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/northern-lights-curiouskeeda.jpg?resize=630%2C420&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    So, the <b> explanation of this fact probably won’t have a lot of effect to those who aren’t
                        scientifically inclined, however, it’s nonetheless a fascinating thing to know.</b> Auroras
                    clearly
                    happen with more frequency and are simply by and large more stunningly lively and lovely, when there
                    is high solar sunspot movement. The solar sunspot activity experiences cycles through the span of
                    about eleven years. The last peak of high solar sunspot movement happened in 2013, so while you’ll
                    likely be able to see huge amounts of shows in the following decade, keep the year 2024 in your
                    schedule – that is the point at which you’re probably going to see some really incredible showcases
                    illuminating the sky.
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 3|<br>
                        THE WEATHER IN THE ARCTIC CAN CHANGE IN THE BLINK OF AN EYE</b> </h4>

                <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/pexels-photo.jpeg?w=500&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    The climate in the Arctic is as notoriously unpredictable as the Northern Lights themselves. It’s
                    not surprising to have sunshine, rain, clouds, hail, sleet, snow and high winds all around the same
                    time. <b> Just because you wake up to completely clear skies, that doesn’t mean those perfectly
                        clear
                        skies will stay until Northern Lights seeing time once it’s dark out. </b>
                    <br>
                    And the reverse is true. It was snowing heavily and there was 100% cloud cover when we went to bed
                    on one of the nights we’ve seen the Northern Lights. Which leads us to our next trip…
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 4|<br>
                        THE NORTHERN LIGHTS ARE BEAUTIFUL TO SEE, BUT DID YOU KNOW THEY ALSO MAKE SOUNDS?</b> </h4>

                <iframe width="100%" height="330" src="https://www.youtube.com/embed/HIhiNcXLvxE">
                </iframe> <br><br>

                <p>
                    Lights producing noises? Sounds like something out of a sci-fi movie! In all honesty, many
                    people have heard static or murmuring sounds, practically like a radio, while seeing the lights.
                    Remember those charged particles from the sun? They assuredly have something to do with it. The
                    negative electrical charge gets caught in the reversal layer, a region of the atmosphere where
                    the temperature actually increases with height, rather than decreases.

                    At the point when a major solar storm hits Earth, the inversion layer discharges the negative
                    electrical charge, which in turn creates the snapping and popping noises at times heard with
                    Aurora Borealis. So when you’re taking a gander at the beautiful lights in the night sky, don’t
                    stress, it’s not aliens after all.
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 5|<br>
                        THEY’RE VERY TOUGH TO ACCURATELY PREDICT</b> </h4>

                <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/greenland-northern-lights.jpg?resize=640%2C360&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    There are certain phenomena like meteor showers that experts know are going to be happening far
                    ahead of time. It’s easy to prepare and get the best spot to see the sights, as they occur with a
                    reasonable degree of predictability. However, that’s not the case with the aurora borealis.
                    <b> Apparently, knowing the shape of a magnetic field in a CME (coronal mass ejection) is difficult.
                    </b>
                    Scientists can’t really tell which direction the field will be pointing until it’s already
                    happening, and once it happens, it’ll either be a show-stopping light-filled sky, or just a regular
                    old night of darkness.
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 6|<br>
                        AURORA BOREALIS IS NAMED AFTER A GREEK GOD AND A ROMAN GODDESS</b> </h4>

                <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/meetings-curiouskeeda.jpg?strip=info&w=700&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    The seventeenth-century astronomer, philosopher, and physicist, Pierre Gassendi, saw the Northern
                    Lights on a trip in the North and named them the Aurora Borealis. EosAurora was the Roman goddess of
                    the dawn who woke up the world with her light. Ladies who tossed flower petals onto the world to
                    guarantee the beginning of a splendid new day trailed her. The second word, Borealis, Gassendi got
                    from the Greek god of the north wind—Boreas.
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 7|<br>
                        THEY HAPPEN IN THE SOUTH, TOO</b> </h4>

                <p>
                    The aurora borealis has a notable nickname – the northern lights. Given the nickname, many accept to
                    think that they’re just visible in the north, in places like Norway and Canada. While northern
                    aurora borealis lovers are certainly treated to numerous amazing shows, the aurora borealis shows up
                    in the south too – despite the fact that they’re known as the aurora australis there. <b> Just
                        dependent
                        on the earth’s geology, the south poles are entirely ungracious and not effectively available,
                        and
                        there aren’t numerous places that are found so far south.</b> In this way, while the lights are
                    possible
                    in the south, the fact that they are seen so regularly in the north implies that most people
                    associate them with one area.
                </p>

                <iframe width="100%" height="330" src="https://www.youtube.com/embed/t57DPnH06V0">
                </iframe>

                <br> <br>

                <h4 style="text-align: center;"> <b> 8|<br>
                        THEY’RE FURTHER AWAY THAN YOU THINK</b> </h4>

                <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/northern-lights-curiouskeeda-jetsave.jpg?resize=629%2C420&ssl=1"
                    width="100%" height="auto"><br><br>

                <p> <i>
                        The aurora borealis is unquestionably stunning, but one reason that they have become so popular
                        is
                        because watchers feel like they’re so close the lights are fundamentally within reach. They
                        stretch
                        over the sky and appear as though they’re coasting directly over watchers’ heads. In any case,
                        this
                        is a touch of an optical dream – in fact, the display is commonly more than 60 miles above the
                        earth! Truth be told, the rarer red lights can happen at more than 200 miles over the Earth’s
                        surface – a serious way for such light to travel! </i>
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 9|<br>
                        THEY HAPPEN IN THE SOUTH, TOO</b> </h4>

                <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/Jetsave-Curiouskeeda.jpg?resize=640%2C182&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    Similarly as with numerous scientific phenomena, before there was a compact explanation of the
                    cause, there were legends and fantasies created to clarify them. The Maori in New Zealand and
                    numerous inhabitants of northern Europe and North America accepted that the lights were only
                    reflections from torches and pit fires. The Menominee Indians in Wisconsin believed that the lights
                    served to demonstrate the area of mammoths, who were the spirits of fishermen and hunters.
                    Furthermore, <b>the Inuit in Alaska accepted that the lights were the spirits of creatures they
                        hunted,
                        or of their kin. </b>
                </p>

                <br>

                <h4 style="text-align: center;"> <b> 9|<br>
                        EARTH ISN’T THE ONLY PLANET THAT HAS THEM</b> </h4>

                <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2020/01/jupiter-lights-jetsave-1.jpg?strip=info&w=510&ssl=1"
                    width="100%" height="auto"><br><br>

                <p>
                    While those of us on earth are immense fans of the aurora borealis and love catching the excellent
                    phenomena in video form, it’s not something that is elite to our planet or atmosphere.<b>Auroras are
                        additionally known to happen on different planets and are found also, towards the magnetic poles
                        of
                        the individual planets. </b> While they’re not given for each solar body, astronomers have been
                    able to
                    see auroras on Jupiter to Saturn, Uranus, and Neptune. That’s a lot of gorgeous auroras!
                </p>
                <br>
                <p>
                    <b> Did this article tempt you to witness these magnificently beautiful natural phenomena? Plan your
                        trip to Norway with <a href="https://www.facebook.com/jetsaveindia/" style="color:red;">Jetsave
                            India </a> to witness the magic running through your veins as the sky puts up
                        its own light show, and the most spectacular one that we know of! </b>
                    <br> <br>
                    Observe the magical lights from the Aurora Sky Station at Abisko with <a
                        href="https://www.facebook.com/jetsaveindia/" style="color:red;"> Jetsave India </a> and have
                    the
                    most memorable experience of your lifetime!
                </p>


            </div>
            <!-- Rightbar Component -->
            <%- include('../partials/rightbar') %>
        </div>
    </div>

    <!-- Footer section -->
    
    <%- include('../partials/footer') %>

    <!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>