<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/jetsavecss.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/seprateblog.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/mobile.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="/assets/css/jetsave-tablet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"
            integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<style>
    .bannerimg {
        background-image: url("https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda.jpg?resize=640%2C335&ssl=1");
        position: absolute !important;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        width: 100% !important;
        height: 100%;
        margin-top: -2%;
    }

</style>

<body>
        
 <!-- Loader Component -->

 <%- include('../partials/loading') %>
    

 <!-- Header Component -->

 <%- include('../partials/header') %>


        <div class="container-fluid" style="height: 100vh;">
            <div class="row">
                <div class="col-12 bannerimg heading">
                    <h2 style="margin-top: 39%;
                        text-align: center; background-color:#7e585899; color: white;">Top 5 Must-See Places in India
                        once in your Lifetime!</h2>
                </div>

            </div>


        </div>
        <H1 style="text-align: center;"></H1>
        <div class="container-blog" style="margin-top: 2%;">
            <div class="row">
                <!-- left -->
        <%- include('../partials/leftbar') %>


                <div class="col-sm-12 col-lg-6 middlebar">
                    <p> <b>
                            “INDIA IS BEYOND STATEMENT, FOR ANYTHING YOU SAY, THE OPPOSITE IS ALSO TRUE. IT’S RICH AND
                            POOR,
                            SPIRITUAL AND MATERIAL, CRUEL AND KIND, ANGRY BUT PEACEFUL, UGLY AND BEAUTIFUL, AND SMART
                            BUT
                            STUPID. IT’S ALL THE EXTREMES. INDIA DEFIES UNDERSTANDING.” ― SARAH MACDONALD
                        </b> </p>

                    <p>India is a colossal mix of traditions, beliefs, festivals, landscapes and amazing architecture.
                        It is a land that is brimming with eclectic cultures and natural beauty that will surely make
                        your memories of India blaze bright. It is truly here, that you can pause and unwind. It is the
                        world’s largest democracy and is also home to the most varied ethnicities and boasts of a
                        heritage that is built strongly on values of pluralism and secularism.</p>

                    <p style="text-align: center;"> <i>
                            From the snow-dusted peaks to the sun-splashed beaches, the country has eons of outdoor
                            attractions. When in India, you can scout for big jungle cats on scenic wildlife safaris or
                            can
                            paddle in the shimmering waters of coastal retreats. Taking blood-pumping treks high in the
                            mountains, or simply inhaling pine-scented air on meditative forest walks is what India is
                            known
                            for. Along with all these natural retreats lies a wealth of architectural gems, from serene
                            temples to crumbling forts peering over plunging ravines.</i>
                    </p>

                    <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda1-5.jpg?resize=640%2C480&ssl=1"
                        width="100%" height="auto">

                    <p>Spirituality is the omnipresent string in India’s richly differing tapestry, weaving right from
                        the cold heaps of the far north to the tropical shores of the profound south. The variety of
                        holy sites and ceremonies pay testament of the nation’s long and bright religious history.</p>

                    <p>With these visual joys, India is a spot that is certain to fulfill all your taste buds. Indian
                        cuisines are a heavenly buffet of territorial recipes, each with their very own conventional
                        preparation procedures and presentation styles – from the contending flavors of unbelievably
                        marinated meats and thalis to the basic magnificence of veggie lover curries and sea
                        delights. <b>Flavors lie at the core of Indian cooking, with the snap of cumin seeds in hot oil
                            being a well-known sound in many kitchens.</b>
                    </p>

                    <p style="color: #8b0000;"> Travel and lose yourself to find your own self. Live like there’s no
                        tomorrow. And whatever you’ll explore today will last a lifetime with you. So, here’s a list of
                        4 amazing tourist places to visit in India before. What are you waiting for? It’s time to pack
                        your bags and set on a journey to scratch off a few destinations from your bucket list.</p>


                    <h3 style="color: black; text-align: center;"> “Queen of The Himalayas”
                        <br> Darjeeling </h3>
                    <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda2-8.jpg?resize=640%2C361&ssl=1"
                        width="100%" height="auto">

                    <p style="text-align: center;"> <b>
                            Spread in ribbons over a steep mountain ridge, surrounded by emerald-green tea plantations
                            and
                            towered over by majestic Khangchendzonga, Darjeeling is the definitive Indian hill station
                            with
                            jaw-dropping locales, mesmerizing sunrises, the old-world charm of the past, and the
                            welcoming
                            smiles of the local people. </b> </p>
                    <br> <br>
                    <p> It is a getaway from the hot and humid summers of India. Being a popular tourist destination, it
                        works wonders to cater to the gorgeous panorama of the Himalayas. There is a reason the city is
                        known as the ‘Queen of the Himalayas’. The rich and lush green slopes dotted with women plucking
                        tea leaves is a sight as mesmerizing as no other. When in this beautiful land, have a cup of
                        locally brewed chai at the tea estate, or get down amidst the plantations to pluck a few tea
                        leaves yourself, you are free to take your pick! Along with natural picturesque beauty, it has
                        jaw-dropping colonial architecture including mansions and churches dot this little beautiful
                        town. Darjeeling is brimming with cultural diversity and is filled with people from Nepal and
                        nearby Indian states. </p>

                    <br>

                    <h3 style="color: black; text-align: center;"> “Home to the Kanchenjunga”
                        <br> Sikkim </h3>
                    <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda3-5.jpg?resize=640%2C400&ssl=1"
                        width="100%" height="auto">

                    <p> Sikkim is a mountain kingdom and holds an unmistakable identity. <b>The North Eastern beguile
                            combined with the grand Himalayan snow makes Sikkim standout amongst the most wonderful
                            state of
                            the nation. </b> Sikkim is invested with brilliant natural assets, dazzling mountains,
                        excellent
                        cascades, and some magnificent landscapes. Hassle-free and caring, it is a state that is very
                        easy to look all starry eyed at. Sikkim is, for the most part, a maze of plunging, super steep
                        valleys, thick with rich subtropical forests ascending in the north to the tremendous white-top
                        pinnacles of the eastern Himalaya. In the event that you are the one whose aesthetic sense is
                        brilliant and the person who aches to spend a minute in the lap of Mother Nature, then Sikkim
                        welcomes you with a clear sky and fresh air. </p>

                    <br>

                    <h3 style="color: black; text-align: center;"> “Tourism Capital of Madhya Pradesh”
                        <br> Gwalior </h3>

                    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/04/curiouskeeda6-5.jpg?resize=640%2C480&ssl=1"
                        width="100%" height="auto">

                    <p style="text-align: center;">
                        <b> Renowned for its dramatic and dominant hilltop fort, which Mughal emperor Babur supposedly
                            portrayed as the pearl of Indian fortresses, Gwalior makes a fascinating stop en-route to a
                            portion of the better-known destinations in India. </b>
                        <br> <br>
                        A notable city established by Suraj Sen, Gwalior is aplenty with delightful landmarks, castles,
                        and temples, giving this city a magnificent appeal which says a lot of its wonderful past. Being
                        a historic city where one of India’s most eminent royalty once resided, Gwalior is loaded with
                        royal residences and sublime sanctuaries. The Gwalior fortification, which gives an
                        all-encompassing view of the whole city, the Jai Vilas royal residence and the Sun Temple are
                        few of the tourist spots in Gwalior that cannot be missed. The incomparable Indian musician
                        Tansen was born in Gwalior and the tomb of Tansen is additionally a critical spot here. Be
                        surrounded by history!
                    </p>

                    <br>

                    <h3 style="color: black; text-align: center;"> “A beautiful hill station in Rajasthan”
                        <br> Mount Abu </h3>

                    <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/greece-cruises.png?resize=640%2C254&ssl=1"
                        width="100%" height="auto">

                    <p style="text-align: center;">
                        <b>The only hill station of Rajasthan, it’s cool climate and lavish green environment make it a
                            noteworthy place of interest inside the state.</b> </p>
                    <br> <br>
                    <p>
                        The most essential fascination, however, are without a doubt the Dilwara temples, which is a
                        standout amongst the most dazzling bit architecture in the nation. If you are a history or
                        architecture buff, this is one places you should absolutely not miss out in India. In Mount Abu,
                        the temples were explicitly made so they are plain from the outside to avoid attraction of
                        plunderers, and have withstood the test of time extremely well. If architecture isn’t your
                        thing, then there are different lakes and viewpoints, like the Honeymoon Point, Sunset Point
                        etc. You can also unwind by boating in the Nakki lake with a view of the charismatic sunset.
                        Mount Abu will offer you all you can demand from a popular and typical destination of a romantic
                        and simpler nature.
                    </p>

                    <br>

                    <h3 style="text-align: center; color: black;">“The Blue City”
                        <br>Jodhpur </h3>

                    <img src="https://i2.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/12/Charisma-curiouskeeda.jpg?resize=630%2C420&ssl=1"
                        width="100%" height="auto">


                    <p style="text-align: center;"> <b>The Blue City truly is blue! The compelling Mehrangarh: the
                            strong
                            fort, that towers over the Blue City of Jodhpur, is a magnificent spectacle and an
                            architectural
                            magnum opus. Otherwise called the “Gateway to Thar”, it is popular for its fort, blue
                            houses,
                            temples, desserts, and tidbits. </b> </p>

                    <p>
                        Apart from the fort, there are various lakes, shopping lanes that resemble a delusion from a
                        bygone era. Jodhpur is home to a tangle of winding, sparkling, medieval streets, which never
                        appear to lead where you expect them to, scented by incense, roses, and sewers, with shops and
                        bazaars selling everything from trumpets and temple decoration to snuff and saris. Also found in
                        the backdrop of the film, The Dark Knight Rises, Jodhpur draws in countless guests from
                        everywhere throughout the world. Adjacent Jaswant Tada and Umaid Bhawan Palace are among the top
                        attractions in Jodhpur. Apart from the old blue city, Jodhpur has developed as a city with more
                        extensive and cleaner streets in certain parts. But, the enchantment lies in the old city itself
                        with many shops, guesthouses, eating joints and sellers make it a chirpy clamoring city!
                    </p>

                    <p style="text-align: center;"> <i> Your list doesn’t end here! Travel to some of these places with
                            your friends and family and explore these charismatic places by booking a trip to India with
                            Jetsave, because the time is now! </i> </p>


                    <p style="text-align: -webkit-center;"><b> Do not linger, jet-off to these splendid places and
                                have the time of your life jaunting in these beautiful cities and towns. Jetsave is sure
                                to provide you with an unmatched travel experience that will make your vacation
                                beautiful one!</b> </p>


                </div>
               <!-- right -->
        <%- include('../partials/rightbar') %>


            </div>
        </div>



        <!-- Footer section -->
        <%- include('../partials/footer') %>
      



</body>

    <!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>
