<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Jetsave Destinations: Dreams Become Reality When You Travel</title>
        <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
        <!-- Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
            </script>
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/jetsavecss.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/seprateblog.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/mobile.css">
    
        <link rel="stylesheet" type="text/css" media="(max-width: 600px)" href="/assets/css/jetsave-tablet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"
            integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<style>

    .bannerimg {
        background-image: url("https://www.ramirezassociates.com/wp-content/uploads/2015/06/ING_19047_01274.jpg");
        position: absolute !important;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        width: 100% !important;
        height: 100%;
        margin-top: -2%;
    }

</style>
<body>
        
 <!-- Loader Component -->

 <%- include('../partials/loading') %>
    

 <!-- Header Component -->

 <%- include('../partials/header') %>


        <div class="container-fluid" style="height: 100vh;">
            <div class="row">
                <div class="col-12 bannerimg heading">
                    <h2 class="blogheading">Why is Visa so important?</h2>
                </div>

            </div>
        </div>

        <div class="container-blog blogarea">
            <div class="row">
                <!-- left -->

            <%- include('../partials/leftbar') %>

                <div class="col-sm-12 col-lg-6 middlebar">
                    <p style="text-align: center;"> <b> Travel is the only thing you buy that makes you richer! </b>
                    </p>
                    <p>
                        We all love to travel and when we are travelling between different countries, a passport is
                        required to gain access and cross the country’s borders. Passport gives you meaning and
                        identification! The passport proves to other nations that you are a legal citizen of your
                        particular nation of origin. For example, if you are Indian, and want to enter the United
                        States, you must show customs your passport in the United States to prove that you are an Indian
                        citizen before they will allow you entry.</p>

                    <p>
                        Basically, an international ID/ passport approach different countries authorization for you to
                        cross their boundaries and become a part of their culture, even if it is temporary. Most
                        passports contain your photo, name and birth date, alongside your country of birthplace and a
                        mark. Each nation has explicit rules regarding getting a passport. The laws are different from
                        country to country, so it is ideal to discover what is required before endeavouring to get one.
                        In case you’re travelling to someplace that requires a passport, travel insurance is highly
                        suggested in the event the passport gets lost or stolen.
                    </p>

                    <p>
                        Visas are another document that is designed to allow people access to other countries. Now you
                        may get confused as to why we need a visa when we already have a passport in place. To your
                        knowledge, there is a big difference between a visa and a passport. A visa specifies certain
                        reasons as to why that person will be staying in a foreign country. It also clearly specifies a
                        certain time frame of the stay. Most of the time, visas are granted to people who work or plan
                        to attend some school for higher studies in a nation for a selected amount of time. It acts as a
                        supplement to the passport, as both are required to be present at the same time. The visa is
                        usually stapled or attached to the passport and shown at the time of entry into another country.
                        Just like passports, most visas also have a time limit, and typically that time extends to the
                        maximum of six months. Under certain circumstances, people can also request to get their visas
                        extended, but there are very strict requirements that are to be followed in order to get a time
                        extension. Just like passports, a travel insurance policy is recommended in case the paperwork
                        is misplaced.
                    </p>
                    <p style="text-align: center;"> <b> Here are some other uses of Visa: </b>

                        <br>
                        <h3 style="color: black; text-align: center;">
                            1| Immigration Control

                        </h3>
                        <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda2-5.jpg?w=620&ssl=1"
                            width="100%" height="auto"><br><br>
                        <p>
                            The visa application process allows a nation’s consular and immigration departments to
                            verify the identity of the traveler prior to his arrival. This helps the nation in a lot of
                            different ways. On the applicable of the visa, the traveler’s criminal and economic
                            backgrounds are investigated, as well as they are seriously checked if they carry any
                            communicable diseases and if they are fir to enter the nation of not. If the consular
                            department finds out that the traveler does not pass the stringent background test, it
                            reserves the right to refuse entry before the traveler even lands on their soil.
                        </p>
                        <br>
                        <h3 style="text-align: center;">2| Work </h3>
                        <img src="https://i0.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda4-4.jpg?resize=640%2C364&ssl=1"
                            width="100%" height="auto"><br><br>

                        <p>
                            If an Indian citizen wishes to work in any other country, permission to work in that
                            particular country is required. Granting a work visa to a foreign national will potentially
                            take a job from one of its own citizens; therefore, there are strict rules regarding
                            non-citizens desiring to work in a different nation. A visa allows the host country to
                            determine if the applicant possesses unique skills not found among their own population.
                        </p>
<br>
                        <h3 style="text-align: center;">3| Residency</h3>
                        <img src="https://i1.wp.com/www.curiouskeeda.com/wp-content/uploads/2019/07/curiouskeeda5-5.jpg?resize=640%2C360&ssl=1"
                            width="100%" height="auto"><br><br>

                        <p>
                            When it comes to the topic of residency, a visa is important for the host country to
                            determine who qualifies to permanently reside within their borders. It also allows a
                            nation’s immigration department to decide when a permanent resident can become a citizen,
                            and when the foreign national first arrived is an important part of the citizenship process.
                        </p>


                        <p> <b>Be it any kind of Visa or passport requirements, Jetsave is sure to offer you travel
                            assistance and 24-hour emergency services to help their customers deal with unfavourable
                            situations during their vacations. If you meet with an accident or lose your travel
                            documents, you can seek assistance from Jetsave. The company will offer the best advice or
                            contact local emergency services to help you solve your problems in the shortest time
                            possible. This kind of assistance is especially important if you are travelling to a country
                            where the locals do not speak your language. They are the biggest visa providing agency.
                            Don’t forget to get their assistance the next time to travel and are in need of visa and
                            passport assistance! </b> </p>

                </div>
               <!-- right -->
               <%- include('../partials/rightbar') %>
            </div>
        </div>



        <!-- Footer section -->
        <%- include('../partials/footer') %>

</body>
    <!-- ajax CDN,  Popper.js CDN and Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>
